<html lang="en">
<head>
  <meta charset="UTF-8">
  <h2><a href = "/list">Go to driver behavior page</a></h2>
  <title>Real-time Monitoring</title>
  <script src="http://cdn.hcharts.cn/jquery/jquery-1.8.3.min.js"></script>
<script src="http://code.highcharts.com/stock/highstock.js"></script>
  <script src="http://cdn.hcharts.cn/highcharts/modules/exporting.js"></script>
</head>
<body>

<div id="container0" style="min-width:400px;height:400px"></div>
<button id="button0">driver0</button>
<button id="button1">driver1</button>
<button id="button2">driver2</button>
<button id="button3">driver3</button>
<button id="button4">driver4</button>
<button id="button5">driver5</button>
<button id="button6">driver6</button>
<button id="button7">driver7</button>
<button id="button8">driver8</button>
<button id="button9">driver9</button>
<div id="warning", style="border: 1px dotted; border-radius; 5px; padding: 10px;">Warning</div>
</body>

</html>