<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Show Driver Information</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
  </head>
  <body>
    <h2>Driving behavior of each driver</h2>
    <table border="1" style="margin: 5% 0 0 15%">
      <thead>
        <tr>
          <th>Driver ID</th>
          <th>Car plate number</th>
          <th>Number of times of neutral slide</th>
          <th>The total time of neutral slide</th>
          <th>Number of times of overspeed</th>
          <th>The total time of overspeed</th>
          <th>Number of times of fatigue driving</th>
        </tr>
      </thead>
      <tbody>
        {% for result in results %}
        <tr>
          <td>{{res[0]}}</td>
          <td>{{res[1]}}</td>
          <td>{{res[2]}}</td>
          <td>{{res[3]}}</td>
          <td>{{res[4]}}</td>
          <td>{{res[5]}}</td>
          <td>{{res[6]}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
